<div id="query-view-form-search" ng-controller="queryController" class="row">
  <div class="col-md-12">
      <form ng-submit="performSearch()">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <select name="druidDatasource" id="druidDatasource" ng-model="druidDataSource" class="form-control">
                <option value="">Select an available data source</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <input type="submit" value="Submit" style="display: none;" />
            <a class="btn btn-default">
              Search
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </div>
        </div>
      </form>
  </div>
</div>
